#post-text {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem 1.5rem;
  padding-left: calc(1rem * 3.5);
  border-radius: 100px;
  width: 100%;
  transition: background 0.5s;
  margin: 10px;
}

#submit-btn {
  background: linear-gradient(to right, #ff00cc, #333399);
  color: white;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  transition: background 0.5s;
}

#submit-btn:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  opacity: 0.6;
}
