#post-card {
  background: transparent;
  margin: 15px;
  text-align: center;
  border: none;
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.308);
}

#text-btn {
  /* padding-right:30px; */
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 10vh;
}

#name-btn {
  /* padding-right:30px; */
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.name-date {
  text-align: left;
  opacity: 0.6;
}

.name {
  font-weight: bold;
}

#delete-btn {
  cursor: pointer;
  border: solid white 0.8px;
}


#post-image-id {
  /* width: ; */
  height: 40vh;
  object-fit: cover;
  /* max-height: 200px; */
}

.noimage {
  display: none;
}
